<!-- <div class="container">
  <h1>My Angular Application</h1><br>
  <div class="container">
    {{title}} {{firstName}} {{lastName}}
  </div>
  <br>
  <div class="box">
    <h1>This is another div</h1>
  </div>
  <div class="container">
    <input type="text" [(ngModel)]="firstName" class="form-control"> <br>
    <input type="text" [(ngModel)]="fullName" class="form-control"><br> 
    <button (click)="getName()" class="btn btn-primary">Get FullName</button><br>
  </div>

  <h1 [innerText]="text"></h1>
  <button [disabled]="isDisabled">I am disabled</button><br><br>
  <a [href]="url" [target]="target" >Angular CLI</a>
  <br>
</div>
<div class="container">
  <button (click)="clickMe()">Click Me</button><br><br>
  <p>you have clicked {{counter}} times</p>
</div>
<div class="container">
  <input type="text" class="form-control" [(ngModel)]="email" id="txtEmail"><br>
  <label>{{email}}</label> <br><br>
  <button (click)="getEmail()" class="btn btn-primary">Change Email</button>
</div> -->

 <!-- <div class="container">
  <app-customers></app-customers>
  <app-company></app-company>
 </div> -->
 <!-- <div class="container">
  <app-employee></app-employee>
 </div> -->
 <!-- <div class="container">
  <app-ng-switch></app-ng-switch>
 </div> -->
 <!-- <div class="container">
   <app-ng-if></app-ng-if>
 </div> -->
 <!-- <div class="container">
   <app-ng-class></app-ng-class>
 </div> -->
 <!-- <div class="container">
   <app-ng-style></app-ng-style>
 </div> -->
 <!-- <div class="container">
   <app-custom-directive></app-custom-directive>
 </div> -->
<!-- <div class="container">
  <app-built-in-pipes></app-built-in-pipes>
</div> -->
<!-- <div class="container">
  <app-parent></app-parent>
</div> -->
<!-- <div class="container">
  <app-parent-one></app-parent-one>
</div> -->
<!-- <div class="container">
  <app-parent-two></app-parent-two>
</div> -->
<!-- <div class="container">
  <app-parent-three></app-parent-three>
</div> -->
<!-- <div class="conatiner">
  <app-parent-life-cycle [message]="'This is app component data and send to child component'"></app-parent-life-cycle>
</div> -->
<!-- <div>
  <app-parent-four></app-parent-four>
</div> -->
<div class="container">
  <app-parent-five></app-parent-five>
</div>